@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  /* share style start ==========================*/

  .display-flex{
    display: flex;
  }
  main{
    max-width: 1440px;
    margin: 0 auto;
  }
  main > section{
    margin-top: 130px;
  }
  .text-gary{
    color: #424242;
  }
  .text-light-gray{
    color: #727272;
  }
  .text-primary{
    color: #FF900E;
  }
  .bg-light{
    background-color: rgba(255, 144, 14, 0.1);
  }
  .btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 1.5rem 1.8rem;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: .5rem;
  }
  
/* share style end ==========================*/



  .nav-item{
    list-style: none;
    margin-right: 30px;
  }
  .navbar{
    justify-content: space-between;
    align-items: center;
  }
  .nav-link{
    text-decoration: none;
    font-weight: 500;
  }
  .navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
  }
  .brand{
    font-weight: 700;
    font-size: 2.8rem;
  }
  .banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 3rem;
  }
  .banner-title{
    font-weight: 700;
    font-size: 4rem;
  }
  .banner-image{
    width: 100%;
  }
  .teams{
    align-items: center;
  }
  .team-image-conteiner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  .our-features{
    margin-left: 130px;
    max-width: 530px;
  }
  .feature-title{
    font-size: 2.8rem;
    font-weight: 700;
  }
  #quick-list{
    font-weight: 500;
  }


/* header section responsive =================*/
@media screen and (max-width: 576px) {
  .navbar, .nav-links, .teams{
    flex-direction: column;
  }
  .team-image-conteiner{
    grid-template-columns: repeat(1, 1fr);
  }
  .our-features{
    margin-left: 20px;
  }
}